---
import Header from "../components/OtherHeader.astro";
import Footer from "../components/OtherFooter.astro";
import { siteConfig } from "../config";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={siteConfig.description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <title>A blog shaped set of posts from other sources</title>
  </head>
  <body>
    <script type="text/javascript" src="/js/blogtoots.js"></script>
    <Header />
    <section>
    <section id="about" class="p-8 sm:p-12 md:p-16 lg:p-24">
  <div>
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8 lg:gap-16 items-start">
      <div class="lg:col-span-4">
        <h2
          class="text-3xl sm:text-4xl md:text-5xl xl:text-7xl font-bold text-gray-900"
        > Blog
        </h2>
        <div
          class="w-[75px] h-[5px] mt-2 rounded-full"
          style={`background-color: ${siteConfig.accentColor}`}
        >
        </div>
      </div>

      <div class="lg:col-span-8 space-y-8">
        <div class="space-y-8">
        <p class="text-lg sm:text-xl md:text-2xl leading-relaxed text-gray-600">
	    <b>A blog shaped set of posts from other sources</b>
	    </p>
        <div id="blog">
        <div id="status">
        <p><i>Loading blog (mastodon toots)...</i></p>
        </div>
        </div>
        <script>
        document.addEventListener('DOMContentLoaded', init, false);
        </script>
        <template id="tootDisplay">
        <div class="group relative toot-blockquote">
        <a rel="noopener" id="link" class="toot-link block relative p-4 sm:p-6 md:p-8 bg-gray-50 rounded-xl sm:rounded-2xl border border-gray-200 transition-all duration-300 hover:bg-white hover:shadow-xl hover:border-gray-300 hover:-translate-y-1">
            <div class="toot-header space-y-4">
                <p class="toot-body text-base sm:text-lg text-gray-600 leading-relaxed pr-12 sm:pr-14 md:pr-16">Body goes here</p>
                <p><img class="toot-media-img" src="" loading="lazy"></p>
                <div class="toot-footer"><p class="toot-date" rel="noopener"></p></div>
            </div>
        </a>
        </div>
        <p>&nbsp;</p>        
        </template>
	  </div>
    </section>
    <Footer />
  </body>
</html>
